altgraph==0.17.4
beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
lxml==5.3.1
mysql-connector==2.2.9
packaging==24.2
pefile==2023.2.7
pillow==11.2.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
python-docx==1.1.2
pywin32==310
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==78.1.0
soupsieve==2.6
typing_extensions==4.13.0
urllib3==2.3.0
